* {
  box-sizing: border-box;
}
.intro-container {
  display: flex;
  flex-direction: column;
}
.intro-text {
  margin: 0 1rem;
}
.intro-text > p {
  margin-top: 1.5rem;
  font-size: 20px;
}
.project-container {
  width: 100%;
  margin-bottom: 1.5rem;
}
.title-container {
  margin-bottom: 1rem;
  display: flex;
}
.description-container {
  width: 90%;
  margin: 0 auto 1.5rem auto;
}
.arrow {
  margin: auto 1rem;
}
.arrow:hover {
  cursor: pointer;
}
h3 {
  margin: auto 0;
}
.link-code {
  text-decoration: none;
  color: grey;
  margin: auto 0 auto 0.5rem;
}

.project-image {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.profile-photo {
  max-width: 90%;
  margin: 1rem auto;
  border-radius: 8px;
}
.code-container {
  display: flex;
}

@media screen and (min-width: 700px) {
  .intro-container {
    flex-direction: row;
  }
  .intro-text {
    margin: auto 0 auto 2rem;
  }
  .profile-photo {
    width: 300px;
    margin: 2rem;
  }
  .project-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 2rem auto 2rem auto;
  }
  .project-container:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .description-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  .project-image {
    transition: transform 0.2s;
    height: auto;
    max-width: 700px;
  }
  .project-image:hover {
    transform: scale(1.01);
  }
  .arrow {
    display: none;
  }
  .collapse {
    display: inline;
  }
}
